{% extends "base.html" %}

{% block content %}
  {% if page.edit_url %}
    <a href="{{ page.edit_url }}" title="{{ lang.t('edit.link.title') }}" class="md-content__button md-icon">
        {% include ".icons/material/pencil.svg" %}
    </a>
  {% endif %}
  {% if not "\x3ch1" in page.content %}
    <h1>{{ page.title | d(config.site_name, true)}}</h1>
  {% endif %}
  {{ page.content }}
  <hr />
  <span id="busuanzi_container_page_pv">本文总阅读量<span id="busuanzi_value_page_pv">...</span>次</span>
  <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv">...</span>次</span>
  {% if page and page.meta %}
    {% if page.meta.git_revision_date_localized or
            page.meta.revision_date
    %}
        {% include "partials/source-file.html" %}
    {% endif %}
  {% endif %}
{% endblock %}
